.product_container {
    margin-bottom: 30px;
}

.image_container {
    background: #E3E5E9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 25px;
}

.image_container .image {
    height: auto;
    width: 100%;
    min-height: 250px;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 24px;
    cursor: pointer;
}

@media(min-width: 1300px) {
    .image_container .image {
        aspect-ratio: 1/1;
    }
}

@media(max-width: 992px) {
    .image_container .image {
        aspect-ratio: 1/1;
    }

}

.product_title {
    background: linear-gradient(90deg, rgba(132, 211, 255, 0.585) -1.37%, rgba(198, 208, 219, 0.9) 101.37%);
    border: 1px solid #84D3FF;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 10px 50px;
    min-width: 80%;
    max-width: 90%;
    margin: 0 auto;
    margin-top: -10px;
    width: fit-content;
}

.product_title h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #F2F2F2;
    margin-bottom: 0!important;
}
